<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>





<ion-content class="card-background-page">
    <button ion-button block (click)="goToCreateTrip()" color="secondary">
      <h3>Add New Trip!</h3>
    </button>

    <div *ngIf="selected_users_trips.length > 0">
      <ion-card (press)="presentActionSheet(trip._id)" (click)="continueTrip(trip._id)" *ngFor="let trip of selected_users_trips">
        <img *ngIf="trip.image" src="{{trip.image}}"/>
        <img *ngIf="!trip.image" src="http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1493321650/opener-city-beachs-europe-BEACHCITY0417.jpg?itok=cgdwlYJ7">
        <div class="card-title">{{trip.trip_name}}</div>
      </ion-card>
    </div>


    <!-- <ion-card>
      <img src="http://www.telegraph.co.uk/content/dam/insurance/2016/04/06/amsterdam-xlarge.jpg"/>
      <div class="card-title">Amsterdam</div>
      <div class="card-subtitle">64 Listings</div>
    </ion-card> -->


  </ion-content>

