<ion-header>
  <ion-navbar>
    <ion-title>
        {{trip_name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <button ion-button block (click)="dropMarkerCurrent()">Drop Marker on Current Location</button>


  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapCLicked($event)" *ngIf="latitude">
    <agm-polyline [strokeColor]="'blue'">
      <agm-polyline-point *ngFor="let m of markers; let i = index"
        [latitude]="m.latitude"
        [longitude]="m.longitude">

        <agm-marker
          [iconUrl]="m.img_url[0]"
          [latitude]="m.latitude"
          [longitude]="m.longitude">

          <agm-info-window>
            <h4 id="maker_location_name">{{m.location_name}}</h4>
            <button class="btn btn-info" (click)="load_view_info(m)">Learn More</button>
            <button class="btn btn-success" (click)="load_add_info(m)" *ngIf="user_id == m._user">Add Info</button>
            <button class="btn btn-danger" (click)="removeMarker(m)" *ngIf="user_id == m._user">Delete</button>
            <h6 class="text-info">Day Number: {{m.day_number}}</h6>
          </agm-info-window>

        </agm-marker>

      </agm-polyline-point>

    </agm-polyline>
  </agm-map>

</ion-content>
